@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.cards{
    margin-top: 250px;
    @include flex(row,center,center,wrap);
    h2{
        width: 100%;
        font-size: 60px;
        text-align: center;
    }
}

.item{
    margin:10px;
    width: calc(150% / 5 - 20px);
    position: relative;
    top:0px;
    left:0px;
}