@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.cards{
    margin-top: 250px;
    @include flex(row,center,center,wrap);
    h2{
        position: relative;
        z-index: 4;
        top:0px;
        left:0px;
        width: 100%;
        font-size: 60px;
        text-align: center;
        @include breakpoint-down(small){
            font-size: 40px;
        }
    }
}

.item{
    margin:10px;
    width: calc(100% / 3 - 20px);
    height: 250px;
    position: relative;
    top:0px;
    left:0px;
    @include breakpoint-down(medium){
        margin:30px;    
        width: calc(100% / 3 - 60px);
    }
    @include breakpoint-down(small){
        height: 50px;
    }
}