@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.feature{
    width: 50%;
    position: relative;
    top:0px;
    left:0px;
}

.svg{
    position: absolute;
    z-index: 2;
    top:0px;
    left: 0px;
    transform: rotate(90deg) translateX(-28%) rotateY(110deg) translateY(46.5%);
    @include breakpoint-down(small){
        transform: rotate(90deg) translateX(-28%) rotateY(110deg) translateY(46.5%) scale(0.6);
    }

}

.main_item{
    position: relative;
    z-index: 2;
    top:0px;
    left:0px;
    width: 50%;
    margin:0px auto;
    @include breakpoint-down(small){
        width: 100%;
        left:50%;
        top:100px;
    }
    img{
        width: 100%;
    }
}

.item{
    width: 80px;
    img{
        width: 100%;
    }
}