@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.payments{
    position: relative;
    top:0px;
    left:0px;
    margin-top: 200px;
    @include flex(row,center,flex-start,null);
    @include breakpoint-down(small){
        display: block;
    }
    & > h2{
        position: absolute;
        top:0px;
        left:25%;
        transform: rotate(90deg);
        font-size: 150px;
        color: $light-white;
        @include breakpoint-down(small){
            transform: rotate(90deg);
            text-wrap: nowrap;
            left:0px;
        }
    }
}