@import '../fonts';
@import '../variables';
@import '../mixins';

.home{
    padding:0px 70px;
    @include breakpoint-down(small){
        padding:0px 10px;
    }
    h2{
        @include breakpoint-down(small){
            min-width: 100%;
        }
    }
}

.scan{
    margin-top: 150px;
    h3{
        color:$light-white;
    }
}