@import './normalize';
@import './fonts';
@import './variables';
@import './mixins';

a{
    cursor: pointer;
    text-decoration: none;
    color:white;
    &:hover{
        text-decoration: underline;
    }
}
body{
    overflow-x: hidden;
}
.main-container{
    position: relative;
    top:0px;
    left:0px;
    font-family: $f-mulish;
    font-weight: $f-normal;
    color:white;
    overflow-x: hidden;
}

.home__hero-word,
.learn-more__hero-word{
    display: inline-block;
    margin-right: 10px;
}
.home__scan-item-letter,
.home__hero-letter,
.home__benefits-letter,
.home__card-item-letter,
.home__payments-letter,
.learn-more__hero-letter{
    display: inline-block;
    position: relative;
    margin-right: 1px;
}
.home__scan-item{
    &:nth-of-type(2){
        .home__text-background{
                left:17% !important;
        }
    }
}
