@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.benefits{
    margin-top: 100px;
    position: relative;
    top:0px;
    left:0px;
    @include flex(row,center,flex-start,null);
    @include breakpoint-down(small){
        display: block;
        margin-top: 500px !important;
        margin-bottom: 200px;
    }
    & > h2{
        position: absolute;
        top:17%;
        left:-20%;
        transform: rotate(90deg);
        font-size: 150px;
        color: $light-white;
        @include breakpoint-down(small){
            min-width: 100%;
            text-wrap: nowrap;
            left:-80%;
        }
    }
}

.column{
    width: 30%;
    @include breakpoint-down(small){
        width: 100%;
    }
    &:first-of-type{
        transform: translateY(50px);
        @include breakpoint-down(small){
            transform: translateY(0px);
        }
    }
}