@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';


.item{
    cursor: pointer;
    position: relative;
    top:0px;
    left:0px;
    margin:0px 20px 20px;
    border-radius: 15px;
    overflow: hidden;
    &:hover{
        p{
            display: block;
            opacity: 1;
        }
        img{
            animation: blur 0.3s ease-in-out forwards;
        }
        @keyframes blur {
            0%{
                filter: blur(0px);
            }
            100%{
                filter: blur(15px);
            }
        }
    }
}

.details{
    position: absolute;
    bottom:0px;
    left:20px;
    font-weight: $f-bold;
    h2,p{
        margin:10px 0px;
    }
    p{
        display: none;
        opacity: 0;
        font-weight: $f-normal;
        width: 96%;
        padding-bottom: 10px;
        animation: fadeInP 0.3s ease-in-out forwards;
        @keyframes fadeInP {
            0%{
                opacity: 0;
            }
            1%{
                display: block;
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }
}