@import '../../fonts';
@import '../../variables';
@import '../../mixins';

.founder{
    position: relative;
    z-index: 3;
    top:0px;
    left:0px;
    margin-bottom: 700px;
}
.founder_img{
    position: absolute;
    z-index: 4;
    top:0px;
    left:50%;
    width: 30%;
    transform: translateX(-50%) translateY(20%);
    margin-top: 0%;
    @include breakpoint-up(xlarge){
        transform: translateX(-50%) translateY(13%);
        width: 20%;
    }
    @include breakpoint-down(medium){
        margin-top: 17%;
    }
    @include breakpoint-down(small){
        width: 50%;
        margin-top: 77%;
    }
}
.wave_2{
    position: absolute;
    bottom:0px;
    left:50%;
    height: 100px;
    z-index: 3;
    width: calc(100% + 240px);
    transform: translateX(-50%);
    div{
        top:110%;
    }
    @include breakpoint-up(xlarge){
        display: none;
    }
    @include breakpoint-down(medium){
        transform: translateX(-50%);
        div{
            top:230%;
        }
    }
    @include breakpoint-down(small){
        transform: translateX(-50%);
        div{

            top:480%;
        }
    }
    img{
        width:100%;
    }
}