@import '../../fonts';
@import '../../variables';
@import '../../mixins';

.founder{
    position: relative;
    z-index: 3;
    top:0px;
    left:0px;
    margin-bottom: 700px;
}
.founder_img{
    position: absolute;
    z-index: 4;
    top:0px;
    left:50%;
    width: 30%;
    transform: translateX(-50%) translateY(20%);
    @include breakpoint-up(xlarge){
        transform: translateX(-50%) translateY(13%);
        width: 20%;
    }
    @include breakpoint-down(medium){
        transform: translateX(-50%) translateY(56%);
    }
    @include breakpoint-down(small){
        width: 50%;
        transform: translateX(-50%) translateY(133%);
    }
}
.wave_1{
    z-index: 4;
    transform: translateX(-50%) translateY(9%) !important;
    @include breakpoint-down(medium){
        transform: translateX(-50%) translateY(32%) !important;
    }
    @include breakpoint-down(small){
        transform: translateX(-50%) translateY(150%) !important;
    }

}
.wave_1,
.wave_2{
    position: absolute;
    bottom:0px;
    left:50%;
    z-index: 3;
    width: calc(100% + 240px);
    transform: translateX(-50%) translateY(2%);
    @include breakpoint-up(xlarge){
        display: none;
    }
    @include breakpoint-down(medium){
        transform: translateX(-50%) translateY(24%);
    }
    @include breakpoint-down(small){
        transform: translateX(-50%) translateY(133%);
    }
    img{
        width:100%;
    }
}