@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';


.buildings{
   margin-top: 0px;
   position: relative;
   top:0px;
   left:0px;
}

.mask{
    position: absolute;
    top:1380px;
    left:50%;
    z-index: 2;
    width: calc(100% + 240px);
    transform: translateX(-50%);
    height:700px;
    background-color: $black;
}

.canvas{
    margin-bottom: 400px;
    position: relative;
    top:0px;
    left:50%;
    transform: translateX(-50%);
}


