@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.details{
    margin-top: -2000px;
    width: calc(100% + 240px);
    position: relative;
    z-index: 4;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    img{
        width: 100%;
    }
}

.text{
    position: relative;
    z-index: 4;
    top:0px;
    left:0px;
    h2{
        font-size: 60px;
    }
    h2,p{
        width: 30%;
        margin: 10px auto;
        text-align: center;
    }
}