@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.item{
    width: 20%;
    text-align: center;
    margin:0px 40px;
    &:nth-of-type(2){
        transform: translateY(-2.7%);
    }
    div:first-of-type{
        margin-bottom: 30px;
    }
    img{
        display: block;
        width: 70%;
        margin:0px auto;
    }
    h2,h3,p{
        margin:10px 0px;
    }
}