@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.rewards{
    width: 100%;
    height:300px;
    h2{
        font-size: 60px;
        text-align: center;
        @include breakpoint-down(small){
            font-size: 40px;
        }
    }
}