@import '../../../fonts';
@import '../../../variables';
@import '../../../mixins';

.market{
    & > h2{
        text-align: center;
        font-size: 60px;
        margin-bottom: 50px;
        font-weight: 100;
        @include breakpoint-down(small){
            font-size: 40px;
        }
    }
}

.main{
    @include flex(row,center,center,null);
    @include breakpoint-down(small){
        display: block;
    }
}